{%for post in site.posts%}          <!-- A for loop to get items for _posts -->
    
    <!-- 
    
        {{post.title}} <br>             <!- - Call for post title - ->
        {{post.url}}   <br>             <!- - Call for post url - ->
        <br>
        <a href="{{post.url}}">{{post.title}}</a>   <!- - Making an actual link out of the posts' titles - ->
        <br><br>

    -->

    <li><a href="{{post.url}}">{{post.title}}</a></li>   <!-- Putting it in a list for formating -->
    <hr>
{%endfor%}

<br><br>

<!-- {{site.data.letters}} -->                  <!-- Displays data raw -->
{% for letter in site.data.letters %}           <!-- Loops the data -->
{{ letter.name }}, {{ letter.position }} <hr>
{% endfor %}

<br><br>

{% for file in site.static_files %}             <!-- Looks for all static files in the main site directory and
                                                     in 'assets' folder -->  
    <!-- In _config.yml we defined the scope of what we consider an image, 
         note how Tree Sample (which is not in 'images') will not be displayed --> 
    {% if file.image %}   
        <img src="{{file.path}} | relative_url" alt="{{file.name}}"> <br> <!-- src asks for file source; alt asks for alternative text to display,
                                                              if it cannot display the image -->    
    {% endif %}

{{ file.path }} <br>                            <!-- Print the static files' paths -->     
{{ file.name }} <br>   
{{ file.basename }} <br>   
{{ file.extname }} <br>
<hr>
{% endfor %}

<hr><hr>

<div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
  
    {{ content }}
  
    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
  
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
  
  </div>
